@model ShoraWebsite.Models.Roupa
<head>
    <script src="./js/site.js"></script>
</head>

@if (ViewBag.statusMessages != null)
{
    <div class="alert alert-success alert-dismissible" role="alert" id="statusMessage">
        @foreach (var s in ViewBag.statusMessages)
        {
            <p>@s</p>
        }
        <button type="button" class="btn-close" onclick="closePopUpMessage('statusMessage')"></button>
    </div>
}


@if (ViewBag.errorsMessages != null)
{
    <div class="alert alert-danger alert-dismissible " role="alert" id="errorMessage">
        @foreach (var s in ViewBag.errorMessages)
        {
            <p>@s</p>

        }
        <button type="button" class="btn-close" onclick="closePopUpMessage('errorMessage')"></button>
    </div>
}
<h4>Adicionar nova peça de roupa</h4>
<hr />
<div class="row">
    <div class="col-md-4 ">
        <form asp-action="Adicionar" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Nome do Item
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                Categoria
                <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
            </div>
           
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input name="Preco" class=" form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="form-control" type="file" multiple />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>

            <div class="form-group">
                @{
                    string[] sizes = { "XS", "S", "M", "L", "XL", "XXL" };

                }
                <table>
                    <tr>
                        <th>Tamanho</th>
                        <th></th>
                        <th>Quantidade</th>
                    </tr>


                    @foreach (var _s in sizes)
                    {
                        <tr>
                            <td>
                                <div>
                                    <input type="checkbox" id="@_s" name="size@_s" value="@_s" onclick="clothsOnClick('@_s')">
                                    <label for="@_s"> @_s</label><br />
                                </div>
                            </td>
                            <td></td>
                            <td>
                                <input type="number" id="ID_@_s" disabled placeholder="Quant_@_s" min="0" name="Quant_@_s" />
                            </td>
                        </tr>
                    }

                </table>

            </div>
            <div class="form-group pad">
                <input type="submit" value="Adicionar" class="botaoDanger nav-link" />
            </div>
        </form>

        <div class="pad">
            <a asp-action="Listagem" class="botao nav-link ">Voltar a Lista de Roupa</a>
        </div>

    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
