@model IEnumerable<ShoraWebsite.Models.MyReservationsViewModel>



@if (Model.Any(r => r.Reserva.Vendida == true))
{
    float lucro = 0;
    foreach (var r in Model)
    {
        if (r.Reserva.Vendida == true && r.Reserva.Roupa != null)
        {
            var temp = r.Reserva.Quantidade * r.Reserva.Roupa.Preco;
            lucro += temp;
        }
    }
    <p>Lucro : @lucro </p>

}

<table class="table">
    <thead>
        <tr>
            <th>
                Nome do Comprador
            </th>

            <th>
                Nome do Material
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reserva.Quantidade)
            </th>
            <th>Tamanho</th>

            <th>
                @Html.DisplayNameFor(model => model.Reserva.Envio)
            </th>

            <th>Vendida/Reservada</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Reserva.Perfil.FirstName) @Html.DisplayFor(modelItem => item.Reserva.Perfil.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reserva.Roupa.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reserva.Quantidade)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Reserva.Tamanho)
                </td>

                <th>
                    @item.Reserva.Envio
                </th>

                <td>
                    <form method="post" asp-action="SwitchVendida" asp-route-id="@item.Reserva.Id">
                        <input type="hidden" name="reserva.Id" value="@item.Reserva.Id" />
                        <input type="hidden" name="reserva.RoupaId" value="@item.Reserva.RoupaId" />
                        <input type="hidden" name="reserva.PerfilId" value="@item.Reserva.PerfilId" />
                        <input type="hidden" name="reserva.Quantidade" value="@item.Reserva.Quantidade" />
                        <input type="hidden" name="reserva.Tamanho" value="@item.Reserva.Tamanho" />
                        <input type="hidden" name="reserva.Vendida" value="@item.Reserva.Vendida" />

                        <button type="submit" class="btn" onclick="return confirm('De certeza que queres trocar o status de @item.Reserva.Roupa.Name do user @item.Reserva.Perfil.FirstName @item.Reserva.Perfil.LastName?')">
                            @if (item.Reserva.Vendida)
                            {
                                 <img src="/Documentos/Icons/switchOnBox.png" height="30" width="30" />

                            }
                            else{
                                 <img src="/Documentos/Icons/switchOffBox.png" height="30" width="30" />

                                }

                        </button>
                    </form>
                </td>
                <td>
                    <a asp-action="Chat" asp-controller="Accounts" asp-route-id="@item.Reserva.Id">
                        <img src="~/documentos/icons/chaticon.png" height="30" width="30"/>
                    </a>
                    @if (item.UnreadMessages>0)
                    {
                        <strong class="noUnderline" style="color:red;">@item.UnreadMessages</strong>

                    }
                </td>
                <td>

                    <a asp-action="Editar" asp-route-id="@item.Reserva.Id">
                        <img src="/Documentos/Icons/edit.png" height="30" width="30" />
                    </a>
                    
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Reserva.Id" onclick="return confirm('De certeza que queres apagar a reserva de @item.Reserva.Roupa.Name - @item.Reserva.Tamanho pertecente  a @item.Reserva.Perfil.FirstName @item.Reserva.Perfil.LastName ?')">
                        <img src="/Documentos/Icons/delete.png" height="30" width="30" />
                    </a>

                </td>
            </tr>

        }

    </tbody>

</table>

