@model IEnumerable<ShoraWebsite.Models.MyReservationsViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome do Material
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reserva.Quantidade)
            </th>
            <th>Tamanho</th>

            <th>
                @Html.DisplayNameFor(model => model.Reserva.Envio)
            </th>
            <th> Entrar em Contacto</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Reserva.Roupa.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reserva.Quantidade)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Reserva.Tamanho)
                </td>

                <td>
                    @item.Reserva.Envio
                </td>

                <td>
                    <a asp-action="Chat" asp-controller="Accounts" asp-route-id="@item.Reserva.Id">
                        <img src="~/documentos/icons/chaticon.png" height="30" width="30" />
                        
                    </a>
                    @if (item.UnreadMessages > 0)
                    {
                        <strong class="text-dark noUnderline">@item.UnreadMessages</strong>

                    }
                </td>
                
            </tr>

        }

    </tbody>

</table>

