@model ShoraWebsite.Models.Reserva

<h4>Reserva de @Model.Perfil.FirstName @Model.Perfil.LastName</h4>
<hr />

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body chat-box" style="max-height: 400px; overflow-y: auto; min-height:400px;" id="messagesList">
                    <!--Mensagens-->
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control" id="messageInput" placeholder="Digite sua mensagem..." />
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" id="sendButton">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="reservaInput" value="@ViewBag.Id" />
            <input type="hidden" id="userInput" value="@User.Identity.Name" />
        </div>
        <div class="col">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Roupa</th>
                        <td>@Html.DisplayFor(model => model.Roupa.Name)</td>
                    </tr>
                    <tr>
                        <th scope="row">Comprador</th>
                        <td>@Model.Perfil.FirstName @Model.Perfil.LastName</td>
                    </tr>
                    <tr>
                        <th scope="row">Quantidade</th>
                        <td>@Html.DisplayFor(model => model.Quantidade)</td>
                    </tr>
                    <tr>
                        <th scope="row">Tamanho</th>
                        <td>@Html.DisplayFor(model => model.Tamanho)</td>
                    </tr>
                    <tr>
                        <th scope="row">Vendida</th>
                        <td>
                            @if (Model.Vendida)
                            {
                                <p>Sim</p>
                            }
                            else
                            {
                                <p>Não</p>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Envio</th>
                        <td>@Html.DisplayFor(model => model.Envio)</td>
                    </tr>
                </tbody>
            </table>
           
                    <hr />
                
            @if (User.IsInRole("Admin"))
            {
                <div class="col-sm">
                    @await Html.PartialAsync("~/Views/Reservas/Editar.cshtml", Model)
                </div>
            }
        </div>
    </div>

   
</div>




<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/Chat.js"></script>