@model ShoraWebsite.Models.Reserva

<h4>Reserva de @Model.Perfil.FirstName @Model.Perfil.LastName</h4>
<hr />

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="card">
                    <div class="card-body" style="max-height: 300px; overflow-y: auto;">
                        <ul id="messagesList" class="list-group list-group-flush" style="min-height: 200px;"></ul>
                    </div>
                </div>
                <input type="hidden" id="reservaInput" value="@ViewBag.Id" />
                <input type="hidden" id="userInput" value="@User.Identity.Name" />
            </div>
            <div class="row">
                <div class="col-10 pr-1">
                    <input type="text" class="w-100" id="messageInput" />
                </div>
                <div class="col-2 pl-0">
                    <input type="button" id="sendButton" value="Enviar" />
                </div>
            </div>




        </div>
        <div class="col">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Roupa</th>
                        <td>@Html.DisplayFor(model => model.Roupa.Name)</td>
                    </tr>
                    <tr>
                        <th scope="row">Comprador</th>
                        <td>@Model.Perfil.FirstName @Model.Perfil.LastName</td>
                    </tr>
                    <tr>
                        <th scope="row">Quantidade</th>
                        <td>@Html.DisplayFor(model => model.Quantidade)</td>
                    </tr>
                    <tr>
                        <th scope="row">Tamanho</th>
                        <td>@Html.DisplayFor(model => model.Tamanho)</td>
                    </tr>
                    <tr>
                        <th scope="row">Vendida</th>
                        <td>
                            @if (Model.Vendida)
                            {
                                <p>Sim</p>
                            }
                            else
                            {
                                <p>Não</p>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Envio</th>
                        <td>@Html.DisplayFor(model => model.Envio)</td>
                    </tr>
                </tbody>
            </table>

            @if (User.IsInRole("Admin"))
            {
                <div class="col-sm">
                    @await Html.PartialAsync("~/Views/Reservas/Editar.cshtml", Model)
                </div>
            }
        </div>
    </div>

    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
</div>




<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/Chat.js"></script>